<hr>
<div class="content1">
<div class="footer1">
    <span class="en">FAQ</span><br>
    <span class="en">ABOUT US</span><br>
    <span class="en">CONTACT US</span>
</div>
<div class="footer2">
<span class="en">Mon-Fri (02)2929-8222</span><br>
    <span class="en">10:00-12:30 / 13:30-19:00</span><br>
    <span class="en">Copyright © 2019 Comic . All rights reserved</span>
</div>
</div>

<style type="text/css">
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.content1{
   display: flex;
   justify-content: center;
}
.footer1{
    line-height: 45px;
    font-size: 12px;
    padding-right: 20%;
}
.footer2{
    line-height: 45px;
    font-size: 12px;
}

</style>